/* Resume Style Sheet */

/* 
Used this for overall inspiration
https://webflow.com/templates/html/renuvo-128-resume-website-template
*/

/*enables a set padding at the top of my document  to account for the header*/
html {
    scroll-padding-top: 290px;
}

/* sets the base color font and margins*/
body {
    background-color: beige;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
  }

/*creates the settings for my moving header*/
header {
    background-color: white;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}

/*make all the header have no margins and some padding*/
h1,h2,h3 {
    color: black;
    font-weight: bolder;
    padding-left: 5px;
    margin: 0;  
}

/*changes h1 font size*/
h1 {
    font-size: 60px;
}

/*changes h2 font size*/
h2 {
    font-size: 30px;
}

/*changes h3 font size and adds space to the top and bottom of each header*/
h3 {
    font-size: 35px;
    padding-bottom: 5px;
    margin-top: 80px;
}
  
/*adds margin to p and changes font size for all p elements*/
p {
    font-size: 20px;
    margin-left: 5px;
    margin-right: 5px;
    margin-inline-end: 10px;
}

ls {
    font-size: 20px;
    margin-top: 10px;
}

/*changes font to italic inside of spans for dates*/
span {
    font-style: italic;
}

/*aligns the text to the center and sets the width*/
table {
    text-align: center;
    width: 1200px;
}

/*making sure images are to there native resolution - ImageOption*/
img {
    max-width: fit-content;
    max-height: fit-content;
}

/* 
Navigation Bar CSS - MenuOption
Inspired my this
https://www.w3schools.com/css/css_navbar.asp
*/

/*positions entire nav bar*/
#NavMenu{
    margin-top: 10px;
    margin-bottom: 10px;
}

/*set the style and position of the menu list element*/
.MenuList {
    border: solid;
    border-color: black;   
    font-size: 20px;
    z-index: 100;
    margin-top: 5px;
    padding: 0px;
    list-style-type: none;
    display: flex;    

}

/*align the items inside the navbar list element*/
.MenuItem {
    display: inline;
    padding: 7px;
    text-align: left;
}

/*set a hover color for the non selected*/
.MenuItem:hover {
    background-color: #d4d4d4;
}

/*set a color to the currently selected*/
#current {
    background-color: coral;
}

/*set a hover color to the currently selected*/
#current:hover {
    background-color: #df6437;
}

/*change the default link element settings to just regular text*/
.MenuTag {
    color: black;
    text-decoration: none;
}

/* main Contents CSS */

/*set the position of the body of the website*/
.CenteralContainer {
    padding-top: 200px;
    padding-left: 10px;
    padding-bottom: 100px;
}

/*set the side and add space to the bottom for the about me section*/
#aboutme_text {
    width: 2000px;
    margin-bottom: 50px;
}

/*position the image of my face*/
#headshot {
    float: right;
    margin-top: 120px;
}

/*postion the image of my dog*/
#dog {
    position: absolute;
    bottom: 90px;
}

/*set padding for skill list items*/
.skills_li {
    padding: 5px;
}

/*set padding for education list*/
#educationls {
    padding: 0px;
}

/*set padding and remove style for education list items*/
.edu_li {
    padding: 10px;
    list-style-type: none;
}

/*set the width of the past work text*/
#pastwork_body {
    width: 1100px;
}

/*set a larger padding for the course work header*/
#coursework {
    padding-bottom: 20px;
}

/*set the table style for past courses course,level,grade*/
#coursework_table {
    border: solid;
    border-color: black;   
    width: 600px;
    margin-left: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
}

/*add padding to top of poster image*/
.projImage {
    padding-top: 55px;
}

/* 
Footer CSS 
inspiration
https://www.youtube.com/watch?app=desktop&v=zdA3qZNH1vc
https://www.w3schools.com/howto/howto_css_fixed_footer.asp

*/

/*set the main style and position for the footer element*/
footer {
    background-color: darkgray;
    padding: 0px;
    margin-top: auto;
    clear: both;
    position: relative;
}

/*set the position for the footer on the about me/index page*/
#indexfooter { 
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

/*set the position for the footer content*/
.FooterContent {
    text-align: center;  
    padding-bottom: 10px;  
}

/*set spacing for footer text*/
.FooterContent p{
    margin: 5px;
    font-size: 15px;   
}

/*set the position of the footer header*/
.FooterContent h4{
    font-size: 15px; 
    margin: 5px;
    margin-top: 10px;
    font-weight: bolder;
    margin-inline-start: 10px;
}

/*make the email link element black*/
#email {
    color: black;
}
